<nav class="navbar nav bg-dark navbar-dark text-center">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="fas fa-car"></i> RWB</a>
        </div>
        <ul class="nav border border-dark justify-content-around">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/inventory">Inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employee">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer">Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transactions">Transactions</a>
            </li>
        </ul>
    </div>
</nav>