<section id="header" class="jumbotron text-center">
    <h1 class="display-3"> RWB Car Dealership Management System </h1>
</section>

<!--To view car inventory-->
<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-center my-auto">
            <div class="card card-block d-flex" style="width: 60rem;">
                <div class="card-body">
                    <h5 class="card-title">Inventory Of Cars</h5>
                    <p>To check if RWB has a particular car, click on "Inventory of Cars"</p>
                    <a href="inventory" class="btn btn-primary">Click for Inventory</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--To view employees-->
<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-center my-auto">
            <div class="card card-block d-flex" style="width: 60rem;">
                <div class="card-body">
                    <h5 class="card-title">Employees</h5>
                    <p>To add/edit/remove RWB's employees, click on "Employees"</p>
                    <a href="employee" class="btn btn-primary">Click for Employees</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--To view car customers-->
<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-center my-auto">
            <div class="card card-block d-flex" style="width: 60rem;">
                <div class="card-body">
                    <h5 class="card-title">Customers</h5>
                    <p>To add/edit/remove RWB's customers, click on "Customers"</p>
                    <a href="customer" class="btn btn-primary">Click for Customers</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--To view Transactions-->
<div class="container">
    <div class="row text-center h-100">
        <div class="col-md-3 text-center my-auto">
            <div class="card card-block d-flex" style="width: 60rem;">
                <div class="card-body">
                    <h5 class="card-title">Transactions</h5>
                    <p>To create and edit purchases, click on "Manage and Create Transactions"</p>
                    <a href="transactions" class="btn btn-primary">Click for Transactions</a>
                </div>
            </div>
        </div>
    </div>
</div>